<div class="feedback-window">
<div class="title"></div>
 <div class="messages">${renderMessages}</div>
           <div class="form">
             <h3>ВАШ ОТЗЫВ</h3>
             <form id="yaFrom">
               <input type="text" placeholder="Ваше имя" name="name" />
               <input type="text" placeholder="Укажите место" name="placename" />
               <textarea name="message"></textarea>
               <button type="submit">Добавить</button>
             </form>
           </div>
         </div>
