<li class="review__item">
    <div class="review__list-name">{{ item.name }} <span class="review__list-content">{{ item.date }}</span></div>
    <div class="review__list-content">{{ item.review }}</div>
</li>
