* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 14px/22px 'Open sans', sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}
.feedback-window {
  width: 350px;
  height: 500px;
  position: absolute;
}
.feedback-window > div {
  float: left;
}
.popup__header {
  background-color: #FF9976 ;
  width: 100%;
  line-height: 50px;
  color: #fff;
  height: 50px;
  padding: 0px 30px 0px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 10px 10px 0px 0px;
}
.feedback-window .messages {
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #fff;
}
.feedback-window .form {
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}
.feedback-window .form input,
.feedback-window .form button,
.feedback-window .form textarea {
  width: 100%;
}
.feedback-window .close {
  color: #fff;
  font-size: 18px;
  right: 15px;
  top: 0;
  position: absolute;
  text-decoration: none;
}

.ymaps-2-1-48-balloon__close+.ymaps-2-1-48-balloon__content {
  margin-right: 0px !important;
}

.ymaps-2-1-48-balloon__content {
  padding: 0px !important;
  border-radius: 10px !important;
}

.ymaps-2-1-48-balloon {
  border-radius: 10px;
  padding: 0px;
  background-color: #ffffff !important;
}
